@page "/"
@using TestApp.Components.Demos

<PageTitle>CorUI Kitchen Sink</PageTitle>

<Toolbar ShowBackButton="false" Title="CorUI Gallery">
    <div class="spacer"></div>
    <button class="primary small">Save</button>
</Toolbar>

<NavigationSplitView SideBarWidth="220">
    <Sidebar>
        <NavigationButton Active="@(activeSection == "Button")" Click="@(() => activeSection = "Button")">Button</NavigationButton>
        <NavigationButton Active="@(activeSection == "Spinner")" Click="@(() => activeSection = "Spinner")">Spinner</NavigationButton>
        <NavigationButton Active="@(activeSection == "Menu")" Click="@(() => activeSection = "Menu")">Menu</NavigationButton>
        <NavigationButton Active="@(activeSection == "Dialog")" Click="@(() => activeSection = "Dialog")">Dialog</NavigationButton>
        <NavigationButton Active="@(activeSection == "SegmentedControl")" Click="@(() => activeSection = "SegmentedControl")">SegmentedControl</NavigationButton>
        <NavigationButton Active="@(activeSection == "Header")" Click="@(() => activeSection = "Header")">Header</NavigationButton>
        <NavigationButton Active="@(activeSection == "InputGroup")" Click="@(() => activeSection = "InputGroup")">Input Group</NavigationButton>
        <NavigationButton Active="@(activeSection == "List")" Click="@(() => activeSection = "List")">List</NavigationButton>
        <NavigationButton Active="@(activeSection == "Toggle")" Click="@(() => activeSection = "Toggle")">Toggle</NavigationButton>
        <NavigationButton Active="@(activeSection == "Card")" Click="@(() => activeSection = "Card")">Card</NavigationButton>
        <NavigationButton Active="@(activeSection == "ProgressBar")" Click="@(() => activeSection = "ProgressBar")">ProgressBar</NavigationButton>
    </Sidebar>
    <Content>
        @switch (activeSection)
        {
            case "Button":
                <ButtonDemo />
                break;
            
            case "Spinner":
                <SpinnerDemo />
                break;
            
            case "Menu":
                <MenuDemo />
                break;
            
            case "Dialog":
                <DialogDemo />
                break;
            
            case "SegmentedControl":
                <SegmentedControlDemo />
                break;
            
            case "Header":
                <HeaderDemo />
                break;
            
            case "InputGroup":
                <InputGroupDemo />
                break;
            
            case "List":
                <ListDemo />
                break;
            
            case "Toggle":
                <ToggleDemo />
                break;
            
            case "Card":
                <CardDemo />
                break;
            
            case "ProgressBar":
                <ProgressBarDemo />
                break;
            
            default:
                <ButtonDemo />
                break;
        }
    </Content>
</NavigationSplitView>

@code {
    private string activeSection = "Button";
}